<<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
<div class="navbar-dark">

  <ul class="navbar-nav mr-auto">

<div *ngIf="state()==true"style="/*visibility: hidden*/">
  <li class="nav-item active">
     <a class="nav-link" style="padding-right:100px;margin-left: 20px" routerLink="homepage" routerLinkActive="active">About</a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" style="padding-right:100px;" >Favorite Blogs</a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" style="padding-right:100px;" routerLink="AddBlog" routerLinkActive="active">
      Add Blog</a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" >search</a>
  </li>
  <li class="nav-item active">
    <input type="text">
  </li>

  <li>
    <a class="nav-link" href="#" (click)="logout()" routerLink="login" routerLinkActive="active" style="
    position: relative; padding-left: 100px" >Logout</a>
  </li>

</div>

<div *ngIf="state()==false">

  <li>
<a class="nav-link" href="#" routerLink="/login" routerLinkActive="active" style="
        position: relative; padding-left: 100px" >Login</a>
  </li>


 <!-- <li>
    <a class="nav-link" href="#" (click)="logout()" routerLink="login" routerLinkActive="active" style="
    position: relative; padding-left: 100px" >Logout</a>
  </li>-->


</div>
  </ul>

</div>


</nav>
<router-outlet></router-outlet>




<!--
position: relative;
left: 30px;
-->



<!--<app-nav-bar></app-nav-bar>-->

<!--
<app-update-c></app-update-c>-->


<!--<login></login>&lt;!&ndash;&ndash;&gt;-->

   <!--<div style="padding-left: 15%">
    <table style="border: solid #1b36cf; align-content: center; width: 70%" >
      <tr>
        <td class="header">Enter Title</td>
        <td>
        <input type="text" [(ngModel)]="title">
        </td>
      </tr>
      <tr>
        <td class="header">Enter Categoty Of Blog</td>
        <td>
        <input type="text" [(ngModel)]="category">
        </td>
      </tr>
      <tr>
        <td class="header">Enter Description</td>
        <td>
        <input type="text" [(ngModel)]="desc">
        </td>
      </tr>
      <tr>
        <td></td>
        <td >
        <button (click)="addWidget(title,category,desc)">Add Blog</button>
        </td>
      </tr>
    </table>

    </div>



<br>

<div style="padding-left: 20%; width:90%">
<table style="border: solid #060b2c; align-content: center; width: 70%" >
  <th class="header" style="font-size: xx-large; padding-right: 50%;">
    Blog List
  </th>
  <tbody>
  <div *ngFor="let item of items">

    <tr>
      <td class="header" >Title</td>
      <td >{{item.title}}</td>
      </tr>
    <tr>
      <td class="header">Category</td>
      <td >{{item.category}}</td>
    </tr>

    <tr>
      <td style="width: 80%; height: 20%">{{item.desc}}</td>
    </tr>
    <tr>
      <td width="50%">
      <button (click)="deleteData(item.id)">Delete</button>
      <button (click)="editData(item.id)">Edit</button>

    </td>
      <td width="50%">
        <button >Like</button>
        <button >Dislike</button>

      </td>

    </tr>

  </div>
  </tbody>
</table>

</div>








<h2>Update Blog:</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" >Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"
             name="name" [(ngModel)]="newTitle" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" >Category:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"
             name="position" [(ngModel)]="newCategory">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" >desc:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"
             name="position" [(ngModel)]="newDesc ">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" (click)="updateEmployee()">Update</button>
    </div>
  </div>
</form>

&lt;!&ndash;
"title": "mango",
"category":"fruit",
"desc": "It is fruit"&ndash;&gt;

-->
